@using NugetWebsiteModern.Models;

@{
	ViewData["Title"] = "Home Page";

	var packages = ViewData["Packages"] as List<PackageOverview>;
	var page_number = (int)ViewData["Page"] + 1;

	var previous_page = (int)ViewData["Page"] - 1;
	var next_page = (int)ViewData["Page"] + 1;
}

<div class="container">
	<div class="find-package section-first section">

		<form action="/Package/List" method="get">
			<input type="text" name="query" placeholder="Search package" value='@ViewData["Query"]' />
			<button class="text-button" type="submit">Search</button>
		</form>

	</div>
</div>

<div class="package-query-title section-wide section text-center">
	@{ 
		var query = @ViewData["Query"];

		var page_current = (int)@ViewData["Page"];
		var page_before = page_current - 1;
		var page_after = page_current + 1;
	}


	@if (String.IsNullOrWhiteSpace(ViewData["Query"] as string))
	{
		<h3>Popular packages</h3>
		<p>Page @page_number</p>
	}
	else if ((int)ViewData["Results"] != 0)
	{
		<h3>@ViewData["Results"] results for "@ViewData["Query"]"</h3>
		<p>Page @page_number</p>
	}
	else
	{
		<h3>Sorry, there is no package like "@ViewData["Query"]"</h3>
		<p>Just try again</p>
	}

</div>

<div class="package-list container">
	<div class="row">

		@foreach (var package in packages)
		{
			<a href="/Package/Show/@package.Id.ToLower()" title="@package.Summary">
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="package-item">
						<div class="package-overlay hidden-sm hidden-xs"></div>

						<div class="image">
							@if (!String.IsNullOrEmpty(package.IconUrl))
							{
								<img src="@package.IconUrl" alt="No icon" />
							}
							else
							{
								<i class="no-icon fa fa-code"></i>
							}
						</div>

						<div class="description">
							<h4>@package.Id</h4>

							<span class="downloads">

							</span>

							<span class="information">
								<span>
									<i class="fa fa-code-fork"></i> @package.Version
								</span>

								<span>
									<i class="fa fa-download"></i><downloads Number="@package.TotalDownloads"></downloads>
								</span>
							</span>
						</div>

						@if (!String.IsNullOrEmpty(package.Summary))
						{
							<p class="package-summary hidden-lg hidden-md">
								@package.Summary
							</p>
						}
					</div>
				</div>
			</a>
		}

	</div>

	<div class="row text-center">
		@if ((int)ViewData["Results"] != 0)
		{
			@if (previous_page >= 0)
			{
				<a href="/Package/List?query=@ViewData["Query"]&page=@previous_page" class="text-button">Previous page</a>
			}

			<a href="/Package/List?query=@ViewData["Query"]&page=@next_page" class="text-button">Next page</a>
		}
	</div>
</div>


