@using NugetWebsiteModern.Models;

@{
	var package = ViewData["Package"] as PackageInfo;
}


<div class="package container">
	<div class="row">
		<div class="col-md-4">
			<div class="section">

				<div class="image">
					@if (!String.IsNullOrEmpty(package.IconUrl))
					{
						<img src="@package.IconUrl" alt="No icon" />
					}
					else
					{
						<i class="no-icon fa fa-code"></i>
					}
				</div>

				<div class="characteristic">
					<i class="fa fa-download pull-left" aria-hidden="true"></i>
					<h3>@package.TotalDownloads.ToString("#,#")</h3>
					<p>Downloads</p>
				</div>

				<div class="characteristic">
					<i class="fa fa-code-fork pull-left" aria-hidden="true"></i>
					<h3>@package.Version</h3>
					<p>Current version</p>
				</div>

				<div class="characteristic">
					<i class="fa fa-calendar pull-left" aria-hidden="true"></i>
					<h3>-</h3>
					<p>Last update</p>
				</div>

				<div class="characteristic link">
					<i class="fa fa-link pull-left" aria-hidden="true"></i>
					<h4>Webpage</h4>
				</div>

				<div class="characteristic link">
					<i class="fa fa-envelope-o pull-left" aria-hidden="true"></i>
					<h4>Contact authors</h4>
				</div>

				<div class="characteristic link">
					<i class="fa fa-file-text-o pull-left" aria-hidden="true"></i>
					<h4>License</h4>
				</div>

			</div>
		</div>

		<div class="col-md-8">
			<div class="section">

				<div class="title">
					<h2>@package.Title</h2>
					<p>
						by

						@foreach (var author in @package.Authors)
						{
							@author
						}
					</p>
				</div>

				<p>@package.Id.ToLower()</p>
				<p>@package.Title</p>
				<p>@package.DataUrl</p>
				

				<p style="white-space: pre-line">
					@package.Description
				</p>
				
				<h3>Installation</h3>

				<div class="installation-box">
					PM > Install-Package NUnit
				</div>

				<h3>Tags</h3>

				@foreach (var tag in @package.Tags)
				{
					<span class="tag">@tag</span>
				}
			</div>
		</div>
	</div>
</div>

